test_config/*.yaml
!test_config/template.yaml
!test_config/example.yaml
model_config/*.yaml
!model_config/template.yaml
!model_config/example.yaml

*.egg-info
__pycache__/
*.pyc
.vscode/
.ipynb_checkpoints/
*.cache
.cache/